---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");

const publishedProjects = projects
  .filter((project) => project.data.published)
  .sort((a, b) => b.data.pubYear - a.data.pubYear);
interface Project {
  id: string;
  collection: "projects";
  data: {
    title: string;
    pubYear: number;
    tags: string[];
    image: string;
    url?: string;
    external?: boolean;
    description: string;
    published: boolean;
  };
  body?: string;
  rendered?: any;
  filePath?: string;
}
---

<Layout title="Projects">
  <ul
    class="grid grid-cols-[repeat(auto-fit,minmax(min(100%,300px),1fr))] gap-x-4 gap-y-8"
  >
    {
      publishedProjects.map((project) => {
        return (
          <a
            href={
              project.data.external
                ? project.data.url
                : `/projects/${project.id}`
            }
          >
            <li class="flex flex-col gap-2">
              <figure class="relative aspect-[4/3] w-full overflow-hidden bg-gray-100 border border-gray-100 rounded-md">
                <Image
                  src={project.data.image}
                  alt={project.data.title}
                  class="absolute inset-0 object-contain w-full h-full p-4"
                  loading="lazy"
                  width={1200}
                  height={800}
                />
              </figure>
              <div>
                <div class="flex items-center gap-2">
                  <h2>{project.data.title}</h2>
                  {"-"}
                  <span class="text-gray-500">{project.data.pubYear}</span>
                </div>
              </div>
            </li>
          </a>
        );
      })
    }
  </ul>
</Layout>
