---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
console.log(projects);

interface Project {
  id: string;
  collection: string;
  data: {
    title: string;
    pubDate: Date;
    tags: string[];
    image: string;
    url?: string;
    external?: boolean;
  };
}
---

<Layout title="Work">
  <ul
    class="grid grid-cols-[repeat(auto-fit,minmax(min(100%,300px),1fr))] gap-x-4 gap-y-8"
  >
    {
      projects.map((project: Project) => {
        return (
          <li class="flex flex-col gap-4">
            <div class="relative aspect-[4/3] w-full overflow-hidden">
              <img
                src={project.data.image}
                alt={project.data.title}
                class="absolute inset-0 object-cover w-full h-full"
              />
            </div>
            <div class="">
              <a
                href={
                  project.data.external
                    ? project.data.url
                    : `/projects/${project.id}`
                }
              >
                {project.data.title}
              </a>
              <ul class="flex gap-2 text-sm">
                {project.data.tags.map((tag: string) => {
                  return <li class="text-sm text-gray-500">{tag}</li>;
                })}
              </ul>
            </div>
          </li>
        );
      })
    }
  </ul>
</Layout>
